.panel {
  width: 35%;
  right: 0px;
  background-color: #13002c;
  height: 100vh;
  position: fixed;
  /* padding: 0px 20px; */
  display: flex;
  flex-direction: column;
}

.menu-btn-div {
  margin: 5% 5%;
  display: flex;
  flex-direction: column;
}

.parent-button {
  margin-top: 20
}

.children-button {
  margin-top: 5px;
  margin-left: 10px;
  width: 60%
}

.btn-image-container {
  height: 50px;
  position: relative;
  text-align: center;
  color: white;
  /* border: 1px solid rebeccapurple; */
  background-color: rebeccapurple;
}

.btn-image-text-position {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(0, -50%);
}

.btn-image {
  height: 100%;
  object-fit: contain;
  position: absolute;
  right: 0%;
}