.panel {
  width: 35%;
  right: 0px;
  background-color: #212529;
  height: 100vh;
  position: fixed;
}

/* HEADER */

/* MENU */

.scrollbar {
  overflow-y: scroll;
  height: 60%;
  border: 8px solid #212529;
}

.scrollbar-primary {
  scrollbar-color: #40474e #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 8px;
  background-color: #292e33;
  border-radius: 10px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(43, 48, 53, 0.1);
  background-color: #198754;
}

.btn-image-container {
  height: 70px;
  position: relative;
  text-align: center;
  color: white;
  /* border: 1px solid blue; */
  background-color: rgb(43, 48, 53);
}

.btn-image-text-position {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(0, -50%);
}

.btn-image {
  height: 100%;
  object-fit: contain;
  position: absolute;
  right: 0%;
}

.radio-btn-group {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.toggle-btn-container {
  /* justify-content: center; */
  display: flex;
  position: relative;
}

/* radio buttons */
.custom-badge {
  margin: auto;
}


/* FOOTER */
.footer {
  width: 35%;
  height: 70px;
  /* border: 1px solid red;  */
  justify-content: center;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0px;
}

.footer-button {
  --bs-border-radius: 2rem;
  width: 60%;
  height: 45px;
}

.hr {
  margin: 0.3rem 0rem 0.1rem 0rem;
}